h1 {
    color: #8054de;
    background-color: #ffffff1d;
}

a:hover {
    color: #00ffd538;
}

a {
    color: #ffffff; /* updated to a lighter color for better contrast */
}

body {
    background-color: #4fd41299;
    background-size: 50%;
}

nav a {
    color: #ffffff; /* updated to a lighter color for better contrast */
}

nav a:hover {
    background-color: #381b96; /* adjusted alpha value for better contrast */
}

nav {
    padding: 10px;
    margin-bottom: 30px;
}

p {
    color: #36d3e8de;
    padding: 20px;
    margin: 30px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.flex-col {
    flex: 1;
    padding: 10px;
    margin: 10px;
}

form {
    width: 100%;
    padding: 10px;
}

.responsive-image {
    max-width: 100%;
}

nav {
    padding: 10px;
}

@media (max-width: 768px) {
    nav a {
        width: 100%;
        display: block;
        padding: 10px 0;
    }

    .pipe {
        display: none;
    }
}


