
h1{color:#8054de;
background-color:#ffffff1d;}/*Use hex colors from now on*/
a:hover {color:#00ffd538;}/* puesdo selcetor selects a state of an element*/
a{color: #676767;}
body {background-color: #4fd41299;
    background-size: 50%;
}
nav a {color: #000000;}
nav a:hover {background-color:#381b9696;}
nav {
    padding: 10px;
    margin-bottom: 30px;
}
p {
    color: #36d3e8de;
    padding: 20px; /* padding is space inside the box */
    margin: 30px;
}
/* Stylesheet */

/* Flex Rows and Columns */
.flex-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px; /* space between rows */
    border-radius: 8px; /* rounded corners */
    background-color: #f0f0f0; /* background color */
}

.flex-col {
    flex: 1; /* makes each column take equal width */
    padding: 10px; /* space inside the containers */
    margin: 10px; /* space between edge of the page and flexboxes */
}

/* Additional styles for form for better appearance */
form {
    width: 100%; /* Allow form to fill space */
    padding: 10px;
}

