.evenrow{color: blueviolet;}
body {background-color: bisque;}
/* styles.css */
table, th, td {
    border: 1px solid black;
}

.evenrow {background-color:aqua;}
h1{font-size: 2em;}
h2{font-size: 1.5em;}